@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);

*{
  font-family: 'Nico Moji', sans-serif;
}

#root { 
  width: 100%;
  padding: 0rem;
  text-align: center;
}

.m_d4fb9cad, .m_d4fb9cad::before, .m_d4fb9cad::after{
  border-radius: 10px !important;
}

@media (min-width: 1920px) {
  html { font-size: 150.75%; } /* 19px */
}
@media (min-width: 2560px) {
  html { font-size: 200.5%; } /* 22px */
}
@media (min-width: 3840px) {
  html { font-size: 275%; } /* 28px */
}


/* .m_b8a05bbd{
  width: 65% !important;
  height: 100% !important;
}
.m_31cd769a{
  display: block !important;
}
.m_60c222c7{
  left: 0px !important;
} */
.m_60c222c7{
  width: 65% !important;
  left: 0px !important;
  /* height: 100% !important; */
}
.m_b8a05bbd{
  height: 100% !important;
}
.mantine-Button-root{
  outline: none !important;
}
.mantine-Button-root:focus {
  outline: none !important;
  border: none !important;
} 
button:focus, button:focus-visible {
  outline: none !important;
 
}
button:hover{
  border-color: #16aabb !important;
  
}